.App {
  text-align: left;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Helvetica Neue", sans-serif, Arial;
  font-size: 14px;
}

.form {
  max-width: 600px;
}

.title {
  font-weight: bold;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  border: 1px solid lightgray;
  padding-left: 15px;
}

.accept {
  font-size: 14px;
}

.registro {
  height: 40px;
  width: 100%;
  background-color: #337ab7;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.terminos {
  display: flex;
  align-items: center;
}

.label {
  margin: 8px;
  font-weight: bold;
}

.userCard {
  width: 230px;
  height: 100px;
  background-color: lightcyan;
  margin: 10px;
  padding: 10px;
}

.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
